@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
*, html, body, ::after, ::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins';
  text-align: center;
}

@media (min-width: 64em) {
  *, html, body, ::after, ::before {
    text-align: left;
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 64em) {
  section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1.5em;
}

@media (min-width: 64em) {
  .contents {
    margin: 8em;
  }
}

.get-started-btn {
  border: none;
  border-radius: 50px;
  padding: 1em 2.5em;
  font-size: 1.5rem;
  font-weight: 700;
}

@media (min-width: 64em) {
  .get-started-btn {
    padding: .5em 2em;
  }
}

.signup-btn {
  border: none;
  border-radius: 50px;
  padding: .5em 1.5em;
  font-size: 1em;
  font-weight: 700;
}

.signup-btn a {
  text-decoration: none;
}

.copy-btn {
  border: none;
  border-radius: 5px;
  background-color: #2dd2cd;
  padding: .5em;
  width: 100%;
  color: white;
  font-size: 1rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5em;
}

.mobile-container .hamburger {
  width: 1.5em;
  height: 1.5em;
}

@media (min-width: 64em) {
  .mobile-container {
    display: none;
  }
}

.desktop-container {
  display: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 95em;
  padding: 2em 8em;
}

.desktop-container .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-left: 3em;
}

.desktop-container .nav-link {
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  margin-right: 2em;
}

.desktop-container .nav-link:nth-last-child(2) {
  margin-left: auto;
  margin-right: 2em;
}

@media (min-width: 64em) {
  .desktop-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.img-container {
  width: 100%;
  overflow: hidden;
}

.img-container .working-img {
  width: 100%;
  -webkit-transform: translateX(14%);
          transform: translateX(14%);
}

@media (min-width: 64em) {
  .img-container {
    width: unset;
    overflow: hidden;
  }
  .img-container .working-img {
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
    width: 120%;
    min-width: 40em;
  }
}

.landing-contents h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: .25em;
  width: 100%;
}

.landing-contents p {
  font-size: 1.15rem;
  margin-bottom: 2em;
  width: 100%;
}

@media (min-width: 64em) {
  .landing-contents {
    max-width: 40em;
    margin-right: 1em;
    width: 60em;
  }
  .landing-contents button {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .landing-contents h1 {
    font-size: 5rem;
    max-lines: 3;
    margin-bottom: 0;
  }
  .landing-contents p {
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-size: 1.5rem;
    max-width: 90%;
  }
}

#links-section {
  background-color: #eff0f5;
}

.link-container {
  background-color: white;
  width: 100%;
  padding: 1em;
  border-radius: 5px;
}
/*# sourceMappingURL=style.css.map */