@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
:root {
  --red: hsl(0, 87%, 67%);
  --paragraph: rgb(39, 192, 192);
  --bg: hsl(257, 27%, 26%);
  --button: hsl(180,66%,49%);
  --hoverButton: hsl(180,54%,74%);
  --hoverNavLink: hsl(260, 8%, 14%);
  --middlesection: hsl(230,25%,95%);
  --footersection: hsl(260, 8%, 14%);
  --buttonText: white;
  --headers: hsl(260,15%,15%);
}

*, html, body, ::after, ::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins';
  text-align: center;
}

@media (min-width: 64em) {
  *, html, body, ::after, ::before {
    text-align: left;
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1.5rem;
}

@media (min-width: 64em) {
  .contents {
    margin: 8rem;
  }
}

.get-started-btn {
  border: none;
  border-radius: 50px;
  padding: 1em 2.5em;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--buttonText);
  background-color: var(--button);
  cursor: pointer;
}

.get-started-btn:hover, .get-started-btn :active {
  background-color: var(--hoverButton);
}

@media (min-width: 64em) {
  .get-started-btn {
    padding: .5em 2em;
  }
}

.signup-btn {
  border: none;
  border-radius: 50px;
  padding: .5em 1.5em;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  background-color: var(--button);
  color: var(--buttonText);
}

.signup-btn:hover, .signup-btn :active {
  background-color: var(--hoverButton);
}

.signup-btn a {
  text-decoration: none;
}

.copy-btn {
  border: none;
  border-radius: 5px;
  padding: .5em;
  width: 100%;
  color: var(--buttonText);
  font-size: 1rem;
  background-color: var(--button);
  cursor: pointer;
}

.copy-btn:hover, .copy-btn :active {
  background-color: var(--hoverButton);
}

@media (min-width: 64em) {
  .copy-btn {
    text-align: center;
    max-width: 6em;
  }
}

.shorten-btn {
  border: none;
  border-radius: 5px;
  background-color: #2dd2cd;
  padding: .5em;
  width: 100%;
  color: var(--buttonText);
  font-size: 1rem;
  background-color: var(--button);
  cursor: pointer;
}

.shorten-btn:hover, .shorten-btn :active {
  background-color: var(--hoverButton);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5em;
}

.mobile-container .hamburger {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}

@media (min-width: 64em) {
  .mobile-container {
    display: none;
  }
}

.nav-dropdown {
  position: fixed;
  top: 0em;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-dropdown .logo-hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1.5em 1.5em;
  background-color: white;
}

.nav-dropdown .logo-hamburger .hamburger {
  width: 1.5em;
  height: 1.5em;
}

.nav-dropdown .bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.651);
  -webkit-backdrop-filter: blur(1.5px);
          backdrop-filter: blur(1.5px);
  z-index: -2;
}

.nav-dropdown .dropdown-links {
  border-top: 2px solid var(--paragraph);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 18em;
  background-color: white;
}

.nav-dropdown .dropdown-links span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid var(--paragraph);
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-dropdown .dropdown-links span .dropdown-link {
  border-bottom: none;
  width: 100%;
}

.nav-dropdown .dropdown-links span .dropdown-link:first-child {
  border-right: 2px solid var(--paragraph);
}

.nav-dropdown .dropdown-links .dropdown-link {
  border-bottom: 2px solid var(--paragraph);
  font-size: 1.25rem;
  padding: 1em 2em;
  text-decoration: none;
  color: var(--headers);
}

@media (min-width: 64em) {
  .nav-dropdown {
    display: none;
  }
}

.desktop-container {
  display: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 94.5rem;
  padding: 2em 8rem;
}

.desktop-container .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-left: 3em;
}

.desktop-container .nav-link {
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  margin-right: 2em;
  color: var(--paragraph);
}

.desktop-container .nav-link:hover, .desktop-container .nav-link :active {
  color: var(--hoverNavLink);
}

.desktop-container .nav-link:nth-last-child(2) {
  margin-left: auto;
  margin-right: 2em;
}

@media (min-width: 64em) {
  .desktop-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#landing-section {
  padding-bottom: 2em;
}

@media (min-width: 64em) {
  #landing-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.img-container {
  width: 100%;
  overflow: hidden;
}

.img-container .working-img {
  width: 100%;
  max-width: 40em;
  -webkit-transform: translateX(14%);
          transform: translateX(14%);
}

@media (min-width: 64em) {
  .img-container {
    width: unset;
    overflow: hidden;
  }
  .img-container .working-img {
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
    width: 120%;
    max-width: 120%;
    min-width: 40em;
  }
}

.landing-contents h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: .25em;
  width: 100%;
  color: var(--headers);
}

.landing-contents p {
  font-size: 1.15rem;
  margin-bottom: 2em;
  width: 100%;
  color: var(--paragraph);
}

@media (min-width: 64em) {
  .landing-contents {
    max-width: 40em;
    margin-right: 1em;
    width: 60em;
  }
  .landing-contents button {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .landing-contents h1 {
    font-size: 5rem;
    max-lines: 3;
    margin-bottom: 0;
  }
  .landing-contents p {
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-size: 1.5rem;
    max-width: 90%;
  }
}

#shortener-section {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, white), color-stop(50%, var(--middlesection)));
  background: linear-gradient(white 50%, var(--middlesection) 50%);
}

.section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 8rem;
  width: 85%;
}

@media (min-width: 64em) {
  .section-container {
    width: 100%;
    padding: 0 8rem;
    max-width: 94.5rem;
  }
}

.shortener-container {
  background-color: var(--bg);
  background-image: url("../images/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
  margin-bottom: .5em;
  width: 100%;
  padding: 1.5rem;
  border-radius: 15px;
}

.shortener-container .user-input {
  width: 100%;
  font-size: 1rem;
  font-weight: 300;
  border-radius: 5px;
  padding: .5em .75em;
  margin-bottom: 1em;
  border: 0;
  outline: none;
  text-align: left;
}

.shortener-container .user-input::-webkit-input-placeholder {
  color: var(--paragraph);
  font-weight: 300;
  text-align: left;
}

.shortener-container .user-input:-ms-input-placeholder {
  color: var(--paragraph);
  font-weight: 300;
  text-align: left;
}

.shortener-container .user-input::-ms-input-placeholder {
  color: var(--paragraph);
  font-weight: 300;
  text-align: left;
}

.shortener-container .user-input::placeholder {
  color: var(--paragraph);
  font-weight: 300;
  text-align: left;
}

.shortener-container button {
  text-align: center;
  border-radius: 5px;
}

@media (min-width: 64em) {
  .shortener-container {
    background-image: url("../images/bg-shorten-desktop.svg");
    background-position: center;
    background-size: cover;
    padding: 4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .shortener-container .user-input {
    margin-bottom: 0;
    width: 80%;
    margin-right: 1.5em;
    font-size: 1.5rem;
    padding: .75em .5em;
    padding-left: 1.5em;
  }
  .shortener-container button {
    width: 8em;
    font-size: 1.5rem;
    padding: .75em .5em;
  }
}

#links-section {
  background-color: var(--middlesection);
}

.links-list-container {
  width: 85%;
  margin-top: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.links-list-container .link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  width: 100%;
  padding: 1em;
  border-radius: 10px;
  margin-bottom: 1.75em;
}

.links-list-container .link-container:first-child {
  margin-bottom: 0;
}

.links-list-container .link-container .original-link,
.links-list-container .link-container .shortened-link {
  font-size: 1rem;
  padding: .5em;
  text-align: left;
  width: 100%;
}

.links-list-container .link-container .original-link {
  overflow: auto;
  border-bottom: solid 1px black;
}

.links-list-container .link-container .shortened-link {
  color: var(--paragraph);
}

@media (min-width: 64em) {
  .links-list-container {
    width: 100%;
    padding: 0 8em;
    max-width: 94.5em;
    margin-bottom: 1em;
  }
  .links-list-container .link-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 1em;
  }
  .links-list-container .link-container .shortened-link,
  .links-list-container .link-container .original-link {
    font-size: 1.5rem;
    width: auto;
  }
  .links-list-container .link-container .original-link {
    border-bottom: none;
    margin-right: auto;
    max-width: 70%;
  }
  .links-list-container .link-container .shortened-link {
    margin-left: 1em;
  }
}

#statistics-section {
  background-color: var(--middlesection);
}

.statistics-content {
  margin: 2em;
}

.statistics-content h2 {
  font-size: 1.6rem;
  margin-bottom: .5em;
  color: var(--headers);
}

.statistics-content p {
  font-size: 1rem;
  max-width: 30em;
  text-align: center;
  color: var(--paragraph);
}

@media (min-width: 64em) {
  .statistics-content h2 {
    font-size: 2rem;
  }
  .statistics-content p {
    font-size: 1rem;
  }
}

.statistic-cards-container {
  width: 85%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3em;
}

.statistic-cards-container .statistic-card {
  position: relative;
  background-color: white;
  padding: 1.5em;
  border-radius: 7px;
  height: auto;
  max-height: 30em;
}

.statistic-cards-container .statistic-card img {
  position: absolute;
  background-color: var(--bg);
  padding: 1em;
  border-radius: 100%;
  width: 5em;
  top: -0.5em;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.statistic-cards-container .statistic-card h3 {
  margin-bottom: 1em;
  margin-top: 1.25em;
  font-size: 1.5rem;
  color: var(--headers);
}

.statistic-cards-container .statistic-card p {
  color: var(--paragraph);
}

@media (min-width: 64em) {
  .statistic-cards-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 20em;
    max-width: 79em;
  }
  .statistic-cards-container .statistic-card:nth-child(1) {
    margin-bottom: auto;
  }
  .statistic-cards-container .statistic-card:nth-last-child(1) {
    margin-top: auto;
  }
  .statistic-cards-container .statistic-card img {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    top: -2.5em;
    left: 25px;
  }
}

.line {
  width: .60em;
  height: 5em;
  background-color: var(--button);
}

@media (min-width: 64em) {
  .line {
    width: 5%;
    min-width: 2%;
    height: .6em;
  }
}

#boost-section {
  background-color: var(--bg);
  background-image: url("../images/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4em 0;
}

#boost-section .boost-container h2 {
  margin-bottom: 1em;
  color: white;
}

#boost-section .boost-container .get-started-btn {
  padding: .5em 1.75em;
}

@media (min-width: 64em) {
  #boost-section {
    background-image: url("../images/bg-boost-desktop.svg");
    padding: 0;
  }
  #boost-section .boost-container {
    margin: 3em;
  }
  #boost-section .boost-container h2 {
    font-size: 2.5rem;
  }
}

#footer {
  background-color: var(--footersection);
  padding: 2em 0;
}

@media (min-width: 64em) {
  #footer {
    padding: 0em;
  }
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-container .logo {
  margin-bottom: 2em;
  -webkit-filter: brightness(1000%);
          filter: brightness(1000%);
}

.footer-container .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.5em;
  text-align: left;
}

.footer-container .footer-links p {
  width: 100%;
  margin-bottom: .75em;
  color: white;
}

.footer-container .footer-links a {
  width: 100%;
  text-decoration: none;
  color: var(--paragraph);
}

.footer-container .socials-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10em;
}

@media (min-width: 64em) {
  .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    width: 100%;
    padding: 0 8rem;
    max-width: 94.5rem;
  }
  .footer-container .logo {
    margin-right: auto;
    margin-bottom: 0;
  }
  .footer-container .socials-container {
    margin-left: 10%;
  }
  .footer-container .footer-links {
    margin-right: 5em;
  }
  .footer-container .footer-links:nth-last-child(2) {
    margin-right: 0;
  }
}
/*# sourceMappingURL=style.css.map */