
//Breakpoints

@mixin breakpoint($point) {
    @if $point==desktop {
        @media (min-width: 70em) {
            @content;
        }
    }
    
    @else if $point==laptop {
        @media (min-width: 64em) {
            @content;
        }
    }
    
    @else if $point==tablet {
        @media (min-width: 50em) {
            @content;
        }
    }
    
    @else if $point==phablet {
        @media (min-width: 37.5em) {
            @content;
        }
    }
    
    @else if $point==mobileonly {
        @media (max-width: 37.5em) {
            @content;
        }
    }
}

//Variables

$Mobile-spacing: 1.5rem;
$Desktop-spacing: 8rem;
$Desktop-MaxWidth: 94.5rem;

:root {
--red: hsl(0, 87%, 67%);
--paragraph : rgb(39, 192, 192);
--bg: hsl(257, 27%, 26%);
--button : hsl(180,66%,49%);
--hoverButton : hsl(180,54%,74%);
--hoverNavLink : hsl(260, 8%, 14%);
--middlesection: hsl(230,25%,95%);
--footersection : hsl(260, 8%, 14%);
--buttonText : white;
--headers : hsl(260,15%,15%);
}
//Font Styles
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

//Global Element Styles

*,html,body, ::after, ::before {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins';

    text-align: center;

    @include breakpoint(laptop) {
        text-align: left;
    }
}

section {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

//Global Section Styling Applied To Container of Contents

.contents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: $Mobile-spacing;

    @include breakpoint(laptop) {
        margin: $Desktop-spacing;

    }
}

//Buttons

.get-started-btn {
    border:none;
    border-radius: 50px;
    padding: 1em 2.5em;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--buttonText);
    background-color: var(--button);
    cursor: pointer;

    &:hover,:active {
        background-color: var(--hoverButton);
    }
    @include breakpoint(laptop) {
        padding: .5em 2em;
    }
}

.signup-btn {
    border:none;
    border-radius: 50px;
    padding: .5em 1.5em;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    background-color: var(--button);
    color: var(--buttonText);

    &:hover,:active {
        background-color: var(--hoverButton);
    }
    a {
        text-decoration: none;
    }
}

.copy-btn {
    border:none;
    border-radius: 5px;
    padding: .5em;
    width: 100%;
    color:var(--buttonText);
    font-size: 1rem;
    background-color: var(--button);
    cursor: pointer;

    &:hover,:active {
        background-color: var(--hoverButton);
    }
    @include breakpoint(laptop) {
        text-align: center;
        max-width: 6em;
    }
}

.shorten-btn {
    border:none;
    border-radius: 5px;
    background-color: hsl(178,65%,50%);
    padding: .5em;
    width: 100%;
    color:var(--buttonText);
    font-size: 1rem;
    background-color: var(--button);
    cursor: pointer;

    &:hover,:active {
        background-color: var(--hoverButton);
    }
    
}

//Navbars

    //Mobile NavBar
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin:1.5em;

    .hamburger {
        width: 1.5em;
        height: 1.5em;
        cursor: pointer;

    }

    //Disabling Mobile Navbar when desktop size appears
    @include breakpoint(laptop) {
        display:none;
    }
}

    //Dropdown Navigation
    

.nav-dropdown {
    position:fixed;
    top:0em;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    .logo-hamburger {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1.5em 1.5em;
        background-color: white;

        .hamburger {
            width: 1.5em;
            height: 1.5em;
        }
    }

    .bg {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.651);
        backdrop-filter: blur(1.5px);
        z-index: -2;
    }
    
    .dropdown-links {
        border-top: 2px solid var(--paragraph);
        display: flex;
        justify-content: start;
        flex-direction: column;
        width: 100%;
        height: 18em;
        background-color: white;

        span {
            display: flex;
            border-bottom: 2px solid var(--paragraph);
            justify-content: space-around;

            .dropdown-link {
                border-bottom: none;
                width: 100%;
                
                &:first-child {
                    border-right: 2px solid var(--paragraph);
                }
            }

        }

        .dropdown-link {
            border-bottom: 2px solid var(--paragraph);
            font-size: 1.25rem;
            padding: 1em 2em;
            text-decoration: none;
            color:var(--headers);

        }
    }

    @include breakpoint(laptop) {
        display:none;
    }
}

    //Desktop Navbar
.desktop-container {
    display:none;
    justify-content: start;
    align-items: center;
    width: 100%;
    max-width: $Desktop-MaxWidth;
    padding: 2em $Desktop-spacing;


        //Navbar Links Container

    .nav-links {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;
        margin-left: 3em;
    }

        //Styling Other Links

    .nav-link{
        text-decoration: none;
        font-size: 1em;
        font-weight: 700;
        margin-right: 2em;
        color: var(--paragraph);

        &:hover,:active {
            color:var(--hoverNavLink)
        }

            //Margin Positioning with 'Login' Link, Margin-left: auto moves all right-side items to the right

        &:nth-last-child(2) {
            margin-left:auto;
            margin-right: 2em;
        }
    }

        //Enabling for Desktop Navbar Contents to appear
    @include breakpoint (laptop) {
        display:flex;
    }
}

//Landing Section

#landing-section {
    padding-bottom: 2em;

    @include breakpoint(laptop) {
        flex-direction: row-reverse;
    }
}

//Worker Image

.img-container {
    width: 100%;
    overflow: hidden;


    .working-img {
        width: 100%;
        max-width: 40em;
        transform: translateX(14%);
    }

    @include breakpoint(laptop) {
        width: unset;
        overflow: hidden;

        .working-img {
        transform: translateX(3%);
        width: 120%;
        max-width: 120%;
        min-width: 40em;
        }
    }
}

//Landing Text Content
.landing-contents {

    h1 {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: .25em;
        width: 100%;
        color: var(--headers);
    }

    p {
        font-size: 1.15rem;
        margin-bottom: 2em;
        width: 100%;
        color:var(--paragraph);
    }

    

    @include breakpoint(laptop) {
        max-width: 40em;
        margin-right: 1em;
        width: 60em;

        button {
            align-self: flex-start;
        }

        h1 {
            font-size: 5rem;
            max-lines: 3;
            margin-bottom: 0;
        }

        p {
            align-self: flex-start;
            font-size:1.5rem;
            max-width: 90%;
        }
    }
}

//Link Shortener Section
#shortener-section {
    background: linear-gradient(white 50%,var(--middlesection) 50%);
}

.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 $Desktop-spacing;
    width: 85%;
    

    @include breakpoint(laptop) {
        width: 100%;
        padding: 0 $Desktop-spacing;
        max-width: $Desktop-MaxWidth;
    }
}

.shortener-container {
    background-color: var(--bg);
    background-image: url('../images/bg-shorten-mobile.svg');
    background-repeat: no-repeat;
    background-position:top right;
    margin-bottom: .5em;
    width: 100%;
    padding: $Mobile-spacing;
    border-radius: 15px;
    position: relative;

    p {
        display: none;
        text-align: left;
        color: var(--red);
        font-style: italic;
        font-size: .75rem;
    }

    .user-input {
        width: 100%;
        font-size: 1rem;
        font-weight: 300;
        border-radius: 5px;
        padding: .5em .75em;
        margin-bottom: .5em;
        border:0;
        outline: none;
        text-align: left;

        &::placeholder {
            color: var(--paragraph);
            font-weight: 300;
            text-align: left;
        }
    }

    button {
        text-align: center;
        border-radius: 5px;
        margin-top: 1.25em;
    }

    @include breakpoint(laptop) {
        background-image: url('../images/bg-shorten-desktop.svg');
        background-position: center;
        background-size: cover;
        padding: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        p {
            position: absolute;
            bottom: 2em;
            left: 4em;
            font-size: 1rem;
        }

        button {
            width: 8em;
            font-size: 1.5rem;
            padding: .75em .5em;
            margin-top: 0;
        }

        .user-input {
            margin-bottom: 0;
            width: 80%;
            margin-right: 1.5em;
            font-size: 1.5rem;
            padding: .75em .5em;
            padding-left: 1.5em;
        }

    }
}

// Links Section

#links-section {
    background-color: var(--middlesection);
}

//Grouped All Converted Links Container
.links-list-container {
    width: 85%;
    margin-top: 1em;
    flex-direction: column-reverse;
    
    

    //Each Indiviual Converted Link Container
    .link-container {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        background-color: white;
        width: 100%;
        padding: 1em;
        border-radius: 10px;
        margin-bottom: 1.75em;

        &:first-child {
            margin-bottom: 0;
        }

        .original-link,
        .shortened-link {
            font-size: 1rem;
            padding: .5em;
            text-align: left;
            width: 100%;
        }
    
        .original-link {
            overflow:auto;
            border-bottom: solid 1px black;
        }

        .shortened-link {
            color: var(--paragraph);
        }
    }

    @include breakpoint(laptop) {
        width: 100%;
        padding:0 8em;
        max-width: 94.5em;
        margin-bottom: 1em;

            
        .link-container {
            flex-direction: row;
            margin-top:1em;

            .shortened-link,
            .original-link {
                font-size: 1.5rem;
                width: auto;
            }

            .original-link {
                border-bottom: none;
                margin-right: auto;
                max-width: 70%;
            }

            .shortened-link {
                margin-left:1em;
            }
        }
    }
}

//Statistics Section

//Section itself
#statistics-section {
background-color: var(--middlesection);

    @include breakpoint(laptop) {
    padding: 0 $Desktop-spacing;
    
    }
}

//Statistic Text Content
.statistics-content {
    margin: 2em;

    h2 {
        font-size: 1.6rem;
        margin-bottom: .5em;
        color: var(--headers);
    }

    p {
        font-size: 1rem;
        max-width: 30em;
        text-align: center;
        color: var(--paragraph);
    }

    @include breakpoint(laptop) {
        h2 {
            font-size: 2rem;
        }

        p{
            font-size: 1rem;
        }
    }
}

//Statsticic Cards Container 
.statistic-cards-container {
    width: 85%;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;

    //Individual Card
    .statistic-card {
        position: relative;
        background-color: white;
        padding: 1.5em;
        border-radius: 7px;
        height: auto;
        max-height: 30em;
        
        img {
            position: absolute;
            background-color: var(--bg);
            padding: 1em;
            border-radius: 100%;
            width: 5em;
            top: -0.5em;
            left: 50%;
            transform:translate(-50%,-50%);
        }

        h3 {
            margin-bottom: 1em;
            margin-top: 1.25em;
            font-size: 1.5rem;
            color: var(--headers);
        }

        p {
            color: var(--paragraph);
        }
    }

    @include breakpoint(laptop) {
        flex-direction: row;
        height: 20em;
        max-width: 79em;
        width: 100%;
        margin: inherit $Desktop-spacing;

        .statistic-card {

            &:nth-child(1) {
                margin-bottom: auto;
            }
            &:nth-last-child(1) {
                margin-top: auto;
            }

            img {
                transform: translateX(0%);
                top: -2.5em;
                left: 25px;
            }
        }
    }
}

//Line between statistic cards
.line {
    width: .60em;
    height: 5em;
    background-color: var(--button);

    @include breakpoint(laptop) {
        width: 5%;
        min-width:2%;
        height: .6em;
    }
}

//Boost your links Section CTA
#boost-section {
    background-color: var(--bg);
    background-image: url('../images/bg-boost-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4em 0;

    //Container of Text and button
    .boost-container {
        h2 {
            margin-bottom: 1em;
            color:white;
        }
    
        .get-started-btn {
            padding: .5em 1.75em;
        }
    }

    @include breakpoint(laptop) {
        background-image: url('../images/bg-boost-desktop.svg');
        padding:0;
        
        .boost-container {
            margin: 3em;

            h2 {
                font-size: 2.5rem;
            }
        }
    }
}

//Footer Section

#footer {
    background-color: var(--footersection);
    padding:2em 0;

    @include breakpoint(laptop) {
        padding:0em;
    }
}

.footer-container {
    display:flex;
    flex-direction: column;

    .logo {
        margin-bottom: 2em;
        filter: brightness(1000%);
    }

    .footer-links {
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 1.5em;
        text-align: left;

        p {
            width: 100%;
            margin-bottom: .75em;
            color:white;
        }

        a {
            width: 100%;
            text-decoration: none;
            color: var(--paragraph);
        }
    }

    .socials-container {
        display:flex;
        justify-content: space-between;
        align-items: center;

        width: 10em;
    }

    @include breakpoint(laptop) {
        flex-direction: row;
        align-items: start;
        width: 100%;
        padding: 0 $Desktop-spacing;
        max-width: $Desktop-MaxWidth;

        .logo {
            margin-right:auto;
            margin-bottom: 0;
        }

        .socials-container {
            margin-left:10%;
        }
        
        .footer-links {
            margin-right: 5em;
            &:nth-last-child(2) {
                margin-right: 0;
            }
        }
    }
}

//Dynamic Classes