
//Breakpoints

@mixin breakpoint($point) {
    @if $point==desktop {
        @media (min-width: 70em) {
            @content;
        }
    }
    
    @else if $point==laptop {
        @media (min-width: 64em) {
            @content;
        }
    }
    
    @else if $point==tablet {
        @media (min-width: 50em) {
            @content;
        }
    }
    
    @else if $point==phablet {
        @media (min-width: 37.5em) {
            @content;
        }
    }
    
    @else if $point==mobileonly {
        @media (max-width: 37.5em) {
            @content;
        }
    }
}

//Variables

$Mobile-spacing:1.5rem;
$Desktop-spacing:8rem;
$Desktop-MaxWidth: 72.5rem;

//Font Styles
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

//Global Element Styles


*,html,body, ::after, ::before {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins';

    text-align: center;

    @include breakpoint(laptop) {
        text-align: left;
    }
}

section {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

//Global Styling for Contents Container

.contents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: $Mobile-spacing;

    @include breakpoint(laptop) {
        margin: $Desktop-spacing;
        max-width: 80%;
    }
}

//Buttons


.get-started-btn {
    border:none;
    border-radius: 50px;
    padding: 1em 2.5em;
    font-size: 1.5rem;
    font-weight: 700;

    @include breakpoint(laptop) {
        padding: .5em 2em;
    }
}

.signup-btn {
    border:none;
    border-radius: 50px;
    padding: .5em 1.5em;
    font-size: 1em;
    font-weight: 700;

    a {
        text-decoration: none;
    }
}

.copy-btn {
    border:none;
    border-radius: 5px;
    background-color: hsl(178,65%,50%);
    padding: .5em;
    width: 100%;
    color:white;
    font-size: 1rem;

    @include breakpoint(laptop) {
        text-align: center;
        max-width: 6em;
    }
}

//Mobile NavBar

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin:1.5em;

    .hamburger {
        width: 1.5em;
        height: 1.5em;
    }

    //Disabling Mobile Navbar when desktop size appears
    @include breakpoint(laptop) {
        display:none;
    }
}

//Desktop Navbar

.desktop-container {
    display:none;
    justify-content: start;
    align-items: center;
    width: 100%;
    max-width: $Desktop-MaxWidth;
    padding: 2em 0;
    margin: 0 $Desktop-spacing;


    //Navbar Links Container

    .nav-links {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;
        margin-left: 3em;
    }

    //Styling Other Links

    .nav-link{
        text-decoration: none;
        font-size: 1em;
        font-weight: 700;
        margin-right: 2em;

        //Margin Positioning with 'Login' Link, Margin-left: auto moves all right-side items to the right

        &:nth-last-child(2) {
            margin-left:auto;
            margin-right: 2em;
        }
    }

    //Enabling for Desktop Navbar Contents to appear
    @include breakpoint (laptop) {
        display:flex;
    }
}

//Landing Section

#landing-section {
    padding-bottom: 5em;

    @include breakpoint(laptop) {
        flex-direction: row-reverse;
    }
}

//Worker Image

.img-container {
    width: 100%;
    overflow: hidden;


    .working-img {
        width: 100%;
        max-width: 40em;
        transform: translateX(14%);
    }

    @include breakpoint(laptop) {
        width: unset;
        overflow: hidden;

        .working-img {
        transform: translateX(3%);
        width: 120%;
        min-width: 40em;
        }
    }
}

.landing-contents {

    
    h1 {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: .25em;
        width: 100%;
        
    }

    p {
        font-size: 1.15rem;
        margin-bottom: 2em;
        width: 100%;
    }

    

    @include breakpoint(laptop) {
        max-width: 40em;
        margin-right: 1em;
        width: 60em;

        button {
            align-self: flex-start;
        }

        h1 {
            font-size: 5rem;
            max-lines: 3;
            margin-bottom: 0;
        }

        p {
            align-self: flex-start;
            font-size:1.5rem;
            max-width: 90%;
        }
    }
}

// Links Section

#links-section {
    background-color: hsl(230,25%,95%);
    padding-top: 5em;

}

.links-list-container {
    width: 85%;

    .link-container {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        background-color: white;
        width: 100%;
        padding: 1em;
        border-radius: 10px;
        margin-bottom: 1.75em;

        &:nth-last-child(1) {
            margin-bottom: 0;
        }

        .original-link,
        .shortened-link {
            font-size: 1rem;
            padding: .5em;
            text-align: left;
            width: 100%;
        }
    
        .original-link {
            overflow:auto;
            border-bottom: solid 1px black;
        }
    }

    @include breakpoint(laptop) {
        width: 72.5em;
            
        .link-container {
            flex-direction: row;

            .shortened-link,
            .original-link {
                font-size: 1.5rem;
                width: auto;
            }

            .original-link {
                border-bottom: none;
                margin-right: auto;
                max-width: 70%;
            }

            .shortened-link {
                margin-left:1em;
            }
        }
    }
}
